.app {
  position: relative;
  top: 50vh;
  transform: translateY(-40vh);
  margin: 0 auto;
  text-align: center;
  width: 40vw;
  max-width: 1000px;
  min-width: 400px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0,0,0,0.18);
  border-radius: 8px;
  height: 80vh;
  max-height: 600px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.bg-wrapper {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4)) center/cover;
  width: 100%;
  height: 100%;
}

.app {
  background-image: url('./assets/default.jpg');
}

.freeze {
  background-image: url('./assets/freeze.jpg');
}

.cold {
  background-image: url('./assets/cold.jpg');
}

.warm {
  background-image: url('./assets/warm.jpg');
}

.hot {
  background-image: url('./assets/hot.jpg');
}

.info-box {
  font-size: 1.6rem;
  color: rgb(196, 52, 52);
  background-color: rgb(247, 207, 207);
}
